# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# Logs
*.log
logs/

# IDE
.idea/
*.iml
.project
.classpath
.settings/
.factorypath
.vscode/

# OS
.DS_Store
Thumbs.db

# Spring Boot
spring.log
